[Bb]in/
[Oo]bj/
[Aa]dmin/
[Uu]pdate/Packages/
[Nn]uget/Packages/
[Nn]uget/*.nupkg
*.dbmdl
*.schemaview
*.suo
*.user
*StyleCop.Cache
.DS_Store
*.ncrunchproject
*.ncrunchsolution
.sass-cache/
*.crunchsolution.cache
packages/*/*
reports/
*.orig
buildartifacts/*
options.xml
version.txt